<div class="container">
    <h1>Equity Dashboard - <%= @month.strftime("%B %Y") %></h1>
    <h2>Worked Days Distribution</h2>

    <div class="text-end">
        <h2>Select Month</h2>
        <%= form_with url: dashboard_path, method: :get, local: true do %>
        <%= month_field_tag :month, @month.strftime("%Y-%m") %>
        <%= submit_tag "View", class: "btn" %>
        <% end %>
    </div>

    <%= column_chart @chart_data,
    height: "400px",
    library: {
      plugins: {
        legend: { display: false }
      }
    } %>


    <hr>
    <div class="container-fluid">
        <table border="1" cellpadding="8">
            <tr>
                <th>Guide</th>
                <th>Worked Days</th>
                <th>% Participation</th>
                <th>Deviation</th>
            </tr>

            <% @dashboard_data.each do |data| %>
            <tr style="
      <% if data[:deviation] > 1 %>
        background-color: #ffcccc;
      <% elsif data[:deviation] < -1 %>
        background-color: #ccffcc;
      <% end %>
    ">
                <td><%= data[:guide].name %></td>
                <td><%= data[:worked] %></td>
                <td><%= data[:percentage] %>%</td>
                <td><%= data[:deviation] %></td>
            </tr>
            <% end %>
        </table>

        <p>Días del mes con asignación: <%= @worked_month_days %></p>
        <p>Puestos de trabajo asignados: <%= @assigned_work_slots %></p>
        <p>Promedio de puestos por guía: <%= @average %></p>
        <div>

            <br>
            <hr>

            <h2>Special Role Assignments</h2>

            <%= column_chart [
      {
        name: "Safety Kayaker",
        data: @filtered_special_role_data.map { |d| [d[:guide_name], d[:safety_kayaker]] }
      },
      {
        name: "Photographer",
        data: @filtered_special_role_data.map { |d| [d[:guide_name], d[:photographer]] }
      },
      {
        name: "Bus Guide",
        data: @filtered_special_role_data.map { |d| [d[:guide_name], d[:bus_guide]] }
      }
    ],
    height: "450px",
    stacked: true %>


            <%= form_with url: dashboard_path, method: :get, local: true do %>
            <%= hidden_field_tag :month, @month.strftime("%Y-%m") %>

            <div class="row mb-3">
                <div class="col-md-4">
                    <%= label_tag :special_role, "Filter by special role" %>

                    <%= select_tag :special_role,
        options_for_select(
          [
            ["All", "all"],
            ["Safety Kayaker", "safety_kayaker"],
            ["Photographer", "photographer"],
            ["Bus Guide", "bus_guide"]
          ],
          @selected_special_role
        ),
        class: "form-control" %>
                </div>

                <div class="col-md-2 d-flex align-items-end">
                    <%= submit_tag "Apply", class: "btn btn-primary" %>
                </div>
            </div>
            <% end %>
            <table border="1" cellpadding="8" class="table table-bordered">
                <tr>
                    <th>Guide</th>
                    <th>Safety Kayaker</th>
                    <th>Photographer</th>
                    <th>Bus Guide</th>
                    <th>Total</th>
                </tr>

                <% @filtered_special_role_data.each do |data| %>
                <tr>
                    <td><%= data[:guide_name] %></td>
                    <td><%= data[:safety_kayaker] %></td>
                    <td><%= data[:photographer] %></td>
                    <td><%= data[:bus_guide] %></td>
                    <td><%= data[:total] %></td>
                </tr>
                <% end %>
            </table>
            <hr>
            <div>
                <h3>Select Guide for Historical View</h3>
                <%= form_with url: dashboard_path, method: :get, local: true do %>
                <%= hidden_field_tag :month, @month.strftime("%Y-%m") %>

                <%= select_tag :guide_id,
        options_from_collection_for_select(@guides, :id, :name, @selected_guide.id) %>

                <%= submit_tag "View Guide" %>
                <% end %>

                <h2>Historical Days - <%= @selected_guide.name %></h2>

                <%= line_chart @historical_data, xtitle: "Month", discrete: true %>
            </div>

        </div>