<div class="container p-3">
<h1 class="inline">Guides</h1>
<%= link_to "New Guide", new_guide_path, class: "btn btn-info inline" %>

<table border="1" cellpadding="8">
  <tr>
    <th>Name</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Skills</th>
    <th>Id</th>
  </tr>

  <% @guides.each do |guide| %>
    <tr>
      <td><%= guide.name %></td>
      <td><%= guide.priority %></td>
      <td><%= guide.active? ? "Active" : "Inactive" %></td>
      <td>
<%= guide.skills.pluck(:name).join(", ") %>
</td>
      <td><%= guide.id %></td>
      <td>
<%= link_to "Edit", edit_guide_path(guide), class: "btn btn-sm btn-primary" %>
</td>
    </tr>
  <% end %>
</table>
</div>
