<div class="container">
<h1>New Guide</h1>

<%= form_with model: @guide do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div>
  <%= f.label :priority %><br>
  <%= f.number_field :priority %>
</div>

  <div>
    <%= f.submit "Create Guide" %>
  </div>
<% end %>

<%= link_to "Back", guides_path %>
</div>